<h2>Livros</h2>

{{#each books}}
    <div class="card">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <small>{{ano}}</small>
            <a><img src={{capa}}></a>
        </div>
    </div>
{{/each}}