<footer class="page-footer font-small fixed-bottom" style="background-color: rgba(29, 207, 207, 0.438);">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Projeto Web2 2021-2:
    <a href="#" style="color: rgb(5, 42, 255);"> Rubens Durães Nascimento</a>
  </div>
  <!-- Copyright -->

</footer>