<h1>Literacrítico</h1>
<p>
    O projeto se trata de uma especie de blog e rede social literario onde os administradores poderão publicar suas resenhas de suas ultimas 
    leituras e os usuarios padrões terão acessos à essas resenhas
</p>